@import url("https://fonts.google.com/specimen/Outfit");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #d6e2f0;
}

.container {
    display: flex;
    justify-content: center;
    width: 320px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.062);
}

.qr-code-img {
    width: 100%;
    border-radius: 15px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.card-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    color: #1f3251;
    margin-bottom: 15px;
}

.card-subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #68778d;
}